<h1><%= @power.name %></h1>

<h3>Description:</h3> 
<p><%=@power.description%></p>


<ul> Heroines with this Power:
    <% Heroine.filtered_by_power(@power.name).each do |heroine| %>
      <li>
        <%= link_to heroine.super_name, heroine_path(heroine) %>
      </li>
      <br>
    <% end %>
  </ul>
  
