Name: <h1> <%= @heroine.name %> </h1><br>
Super Name: <h1> <%= @heroine.super_name %> </h1>
Power: <p> <%= link_to(@heroine.power.name, @heroine.power) %> </p><br>
<%= button_to("Edit Heroine", edit_heroine_path, method: "get") %>
