
<h1>Heroine</h1>

<h2>Name: <%= @heroine.name %></h2>
<p>Super Heroine Name: <%= @heroine.super_name %></p>
<p><%= "#{@heroine.super_name}'s" %> Power: <%= link_to @heroine.power.name, @heroine.power %>